*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    ---primary-color:#FF674D;
    
    }
    
    /* CSS HEX */
    --royal-blue-dark: #0a1045ff;
    --tomato: #ff674dff;
    --desert-sand: #ebcbbbff;
    --blue-bell: #8d91c7ff;
    --malachite: #53dd6cff;
    
    /* CSS HSL */
    --royal-blue-dark: hsla(234, 75%, 15%, 1);
    --tomato: hsla(9, 100%, 65%, 1);
    --desert-sand: hsla(20, 55%, 83%, 1);
    --blue-bell: hsla(236, 34%, 67%, 1);
    --malachite: hsla(131, 67%, 60%, 1);
    
    
           body {
        background-color: #ebcbbb;
        font-family: 'Josefin Sans', sans-serif;
        line-height: 1.4;
        margin: auto;
        position: fixed;
        padding: auto;
        grid-template-rows: 1fr;
        grid-template-columns: 4fr;
        z-index: 4;
        width: 100%;
        overflow-x: hidden;
      }
 /*------scroll-------*/
  html {
        scroll-behavior: smooth;
      }    

      #section1 {
        height: 1000px;
       
      }
      
      #section2 {
        height: 800px;
       
      }

      #section3 {
        height:60px;
       
      }
 /*------scroll-------*/

.section {
  display: grid;
  /* Code for center-alignment */
  text-align: center;
}

#hero {
  height: 100vh;
  position: relative;
  /* Grid template */
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr auto 1fr;
  color: #ebcbbb;
  background-color: rgba(0, 0, 0, 0.1);
}

#hero .down-button {
  height: auto;
  width: 72px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 40px;
  margin: auto;
  opacity: 0;
  transition: opacity 1s ease-in;
  z-index: 1;
}



#hero .img-appear {
  opacity: 1;
}

button{
  height: 72px;
  width: 72px;
}

#hero .home-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  overflow: hidden;
}

#hero .home-wrapper img{
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
  -o-object-fit: cover;
  object-fit: cover;
}

#hero .content {
  -ms-grid-column: 2;
  -ms-grid-row: 2;
  grid-column: 2;
  grid-row: 2;
  z-index: 0;
}

#hero .content h1 {
  font-size: 56px;
  font-weight: 800;
  line-height: 80px;
  letter-spacing: 1px;
  margin: 16px 0px;
  opacity: 0;
  transition: opacity 1s ease-in;
}

#hero .content .h1-appear {
  opacity: 1;
}

#hero .content p {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  letter-spacing: 8px;
  margin: 16px 0px;
  opacity: 0;
  transition: opacity 1s ease-in;
}

#hero .content .p-appear {
  opacity: 1;
}

.col1 {
  -ms-grid-column: 1;
}

.col2 {
  -ms-grid-column: 3;
}

.col3 {
  -ms-grid-column: 5;
}

.row1 {
  -ms-grid-row: 1;
}

.row2 {
  -ms-grid-row: 5;
}

.row3 {
  -ms-grid-row: 9;
}

.row3_5 {
  -ms-grid-row: 11;
}

#blog-links {
  /* Grid template */
  -ms-grid-columns: 1fr 24px 1fr 24px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr;
  grid-template-rows: repeat(6, auto);
  grid-gap: 24px;
  padding: 24px;

}

#blog-links .blog-link {
  padding: 32px;
  display: block;
  text-decoration: none;
}

.blog-link{
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.blog-link:hover{
 
  box-shadow: 0 0 11px rgba(33,33,33,.7);
  transform: scale(1.02); 
  transition: .7s ease;

}

#blog-links .blog-link .article-image {
  height: 348px;
  margin-bottom: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: white;
}


.arrow img{
  float: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: 10px;
}

#blog-links .type-image-2-1 {
  -ms-grid-row-span: 3;
  -ms-grid-column-span: 1;
  grid-row: span 2;
  text-align: left;
  background-color:#ebcbbb;
 
}
#blog-links .type-image-1-1 {
  -ms-grid-row-span: 3;
  -ms-grid-column-span: 1;
  grid-row: span 2;
  text-align: left;
  background-color:#FEFCE8;
 
}

#blog-links .type-paragraph-2-1 {
  -ms-grid-row-span: 3;
  -ms-grid-column-span: 1;
  grid-row: span 2;
  text-align: left;
  background-color:tomato;

}

#blog-links .type-paragraph-2-1 .article-image {
  -ms-grid-row-span: 3;
  -ms-grid-column-span: 1;
  grid-row: span 2;
  text-align: left;
}

#blog-links .type-paragraph-2-1 h3 {
  -ms-grid-row-span: 1;
  -ms-grid-column-span: 1;
  display: flex;

  text-align: left;
  margin: 0;
  margin-left: 24px;
  vertical-align: middle;
}



#blog-links .type-color-2-1 {
  -ms-grid-row-span: 3;
  -ms-grid-column-span: 1;
  grid-row: span 2;
  background-color: #161544;
  background-image: url(img/aboutme-01.png);
  background-size: cover;
  display: flex;
  align-items: center;
  
}

#blog-links .type-image-2-2 {
  -ms-grid-row-span: 3;
  -ms-grid-column-span: 3;
  grid-column: span 2;
  grid-row: span 2;
  text-align: left;
}

#blog-links .type-heading-1-1 {
  -ms-grid-row-span: 1;
  -ms-grid-column-span: 1;
  display: flex;
  align-items: center;
  background-color:#161544;
}

#blog-links .type-image-2-2 span {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 3px;
  color: #ebcbbb;
  padding: 4px 24px;
  display: inline-block;
  margin: 0 0 24px;
  text-transform: uppercase;
}





.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
/*---x---overlay---x----*/


@media screen and (max-width: 1024px) {
  #blog-links {
    /* Grid template */
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    margin: 24px;
  }

  #blog-links .blog-link {
    grid-row: span 1;
    grid-column: span 1;
  }

  #blog-links .blog-link:last-of-type {
    grid-column: span 2;
  }



@media screen and (max-width: 640px) {
  #hero .content h1 {
    font-size: 32px;
    line-height: 40px;
  }

  #hero .content p {
    font-size: 14px;
    line-height: 1.57;
    letter-spacing: 5px;
  }

  #blog-links {
    /* Grid template */
    grid-template-columns: 1fr;
    grid-template-rows: unset;
    grid-gap: 24px;
    margin: 24px;
  }

  #blog-links .blog-link {
    grid-row: span 1;
    grid-column: span 1;
  }

  #blog-links .type-paragraph-2-1 .article-image {
    display: block;
    height: 102px;
    width: 100%;
  }

  #blog-links .type-paragraph-2-1 h3 {
    max-width: unset;
    display: block;
    margin: 24px 0;
  }

  #blog-links .blog-link:last-of-type {
    grid-column: span 1;
  }

